# Ignore Terraform directories and files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Ignore sensitive files
terraform/*.tfvars

# Ignore IDE and editor settings
.vscode/
*.code-workspace
